.todoList {
	list-style: none;
	padding: 0;
	margin: 16px 0;
	border: 1px solid #CACACA;
	border-radius: 5px;

	li {
		padding: 25px 30px;
		display: grid;
		align-items: center;
		grid-template-columns: 2fr auto;
		gap: 10px;
		font-size: 25px;
		line-height: 25px;
		border-bottom: 1px solid #CACACA;
	}

	li:last-child {
		border: none;
	}

	@media (max-width: 592px) {
		li {
			padding: 15px 20px;
			font-size: 20px;
		}
	}
}

.notFound {
	text-align: center;
	font-size: 30px;
}